.gradle
.idea
build
/src/code_samples/NOX3_language_plugin/idea-flex.skeleton
/src/code_samples/NOX3_language_plugin/jflex-1.7.0-2.jar
/src/test/kotlin/com/enterscript/noX3LanguagePlugin/MyPluginTest.kt
/src/main/gen/
